.navbar {
    background-color: #de9898;
    color: #fff;
    padding: 10px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  